<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/HomePageStyle.css" rel="stylesheet" />
    <link href="~/icon/themify-icons.css" rel="stylesheet">
</head>
<body>
    <div id="Top"> <!---->
        <h1>VALORANT <sub>SHOP</sub></h1>
        <div>
            <input type="text" id="txt" name="Finding" placeholder="Search.....!" size="50" />
            <span class="ti-search"></span>
        </div>
        
    </div>
    <div id="List"><!---->
        <div id="Item1">
            <h3 style="color:navajowhite;font-family:'Bookman Old Style'">Weapon</h3>
            <ul id="Gun">
                <li class="Weapon"><a href="">Odin</a></li>
                <li class="Weapon"><a href="">Frenzy</a></li>
                <li class="Weapon"><a href="">Ghost</a></li>
                <li class="Weapon"><a href="">VanDal</a></li>
                <li class="Weapon"><a href="">Phantom</a></li>
                <li class="Weapon"><a href="">Pistol</a></li>
            </ul>
            <hr />
            <ul id="Gun">
                <li class="Weapon"><a href="">Odin</a></li>
                <li class="Weapon"><a href="">Frenzy</a></li>
                <li class="Weapon"><a href="">Ghost</a></li>
                <li class="Weapon"><a href="">VanDal</a></li>
                <li class="Weapon"><a href="">Phantom</a></li>
                <li class="Weapon"><a href="">Pistol</a></li>
            </ul>
            <ul id="Gun">
                <li class="Weapon"><a href="">Odin</a></li>
                <li class="Weapon"><a href="">Frenzy</a></li>
                <li class="Weapon"><a href="">Ghost</a></li>
                <li class="Weapon"><a href="">VanDal</a></li>
                <li class="Weapon"><a href="">Phantom</a></li>
                <li class="Weapon"><a href="">Pistol</a></li>
            </ul>
            <ul id="Gun">
                <li class="Weapon"><a href="">Odin</a></li>
                <li class="Weapon"><a href="">Frenzy</a></li>
                <li class="Weapon"><a href="">Ghost</a></li>
                <li class="Weapon"><a href="">VanDal</a></li>
                <li class="Weapon"><a href="">Phantom</a></li>
                <li class="Weapon"><a href="">Pistol</a></li>
            </ul>
            <ul id="Gun">
                <li class="Weapon"><a href="">Odin</a></li>
                <li class="Weapon"><a href="">Frenzy</a></li>
                <li class="Weapon"><a href="">Ghost</a></li>
                <li class="Weapon"><a href="">VanDal</a></li>
                <li class="Weapon"><a href="">Phantom</a></li>
                <li class="Weapon"><a href="">Pistol</a></li>
            </ul>

        </div>
    </div>
    <div id="Containt">
        <!--LayoutPage-->
        <h3 style="color:white;">Weapon</h3>
        <br />

        <div id="Right-list">
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>
            <div class="Weapon-box">
                <img src="https://valorantinfo.com/images/us/odin_valorant_bundle_7010.webp" class="Size-img" width="300" height="100" />
                <div class="Weapon-description">
                    <p class="Margin-des">Name: Odin</p>
                    <p class="Margin-des">Price: 42k Creds</p>
                    <p class="Margin-des">Power: Very OP</p>
                </div>

            </div>

        </div>


        @RenderBody()
    </div>
    <div id="Footer">
        <!---->
    </div>
</body>
</html>
